src/main/resources/xsd/purchase_request.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="purchaseRequest" type="purchaseRequest"/>

  <xs:complexType name="purchaseRequest">
    <xs:sequence>
      <xs:element name="itemName" type="xs:string" minOccurs="0"/>
      <xs:element name="count" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

